$primary-color: #161616;
$secondary-color: #c8fcea;
$third-color: #00c896;
$fourth-color: #787586;

$font-family-primary: "Montserrat", sans-serif;

* {
    margin: 0;
}
body {
    display: block;
    background-color: $primary-color;
    a {
        text-decoration: none;

        &:hover {
            cursor: pointer;
        }
    }

    ul {
        list-style: none;
        padding: 0;
    }
}
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
li {
    margin: 0.5rem 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.btn-primary {
    background-color: $primary-color;
    border: 2.5px solid $third-color;
    border-radius: 40px;
    font-family: $font-family-primary;
    font-weight: 600;
    padding: 10px 20px;
    color: $secondary-color;
    text-align: center;
    cursor: pointer;

    &:hover {
        background-color: $third-color;
        color: $primary-color;
    }
}

.container {
    max-width: 1200px;
}

.secondary-color-filter {
    filter: invert(100%) sepia(0%) saturate(6445%) hue-rotate(16deg) brightness(92%) contrast(114%);
}
.fourth-color-filter {
    filter: invert(51%) sepia(4%) saturate(1095%) hue-rotate(210deg) brightness(90%) contrast(91%);
}
