.hero {
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    height: 90vh;
    &__header {
        display: flex;
        justify-content: space-between;
        height: 75vh;
        margin: 0 auto;
        align-items: center;
        width: 100%;
        &-left {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            h1 {
                font-family: $font-family-primary;
                color: $secondary-color;
                font-size: 80px;
                text-transform: uppercase;
                font-weight: 900;
                text-align: start;
            }
            h2 {
                font-family: $font-family-primary;
                color: lighten($color: $fourth-color, $amount: 20);
                text-align: start;
                font-weight: 600;
                font-size: 20px;
            }
        }

        &-right {
            &-foto-perfil {
                height: 300px;
                object-fit: cover;
                border-radius: 200px;
            }
        }
    }

    &__contact {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        &__items {
            box-shadow: 4px 5px 20px 0px #181818d9;
            display: flex;
            margin: 0;
            width: 100%;
            justify-content: space-between;
            background-color: lighten($color: $primary-color, $amount: 5);
            padding: 10px;
            border-radius: 10px;
            box-sizing: border-box;
            &-item {
                display: flex;
                cursor: pointer;
                align-items: center;

                &:last-child {
                    margin-right: 0;
                }

                &:hover {
                    i,
                    p {
                        color: $third-color;
                    }
                }
                i {
                    color: lighten($color: $fourth-color, $amount: 20);
                    font-size: 20px;
                    width: 20px;
                    box-sizing: border-box;
                }
                p {
                    color: lighten($color: $fourth-color, $amount: 20);
                    font-family: $font-family-primary;
                    font-weight: 600;
                    font-size: 15px;
                }
            }
        }
    }
}
