.navbar {
    display: flex;

    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 80px;
    &__logo {
        width: 40px;
        height: 40px;
        object-fit: cover;
    }

    &__right {
        display: flex;
        align-items: center;
        ul {
            margin: 0;
            display: flex;
            align-items: center;
            height: 60px;
        }
        a {
            font-family: $font-family-primary;
            font-weight: 600;
            color: $secondary-color;
            padding: 8px;
            &:hover {
                color: $third-color;
            }
        }

        li {
            margin: 0 20px;
        }
    }
}
